// Pin icon on table header
.display-on-hover {
  display: none !important;
  position: absolute !important;
  bottom: 50% !important;
  margin-bottom: -10px !important;
  right: 24px !important;
  width: 20px !important;
  height: 20px !important;
  overflow: hidden !important;
  z-index: 10 !important;
  margin-right: 1px !important;
  text-align: center !important;
  background: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  cursor: pointer !important;

  &:hover {
    display: block !important;
  }
  &:active {
    transform: scale(0.8) !important;
  }
}

.o_list_view thead > tr > th {
  &:hover {
    .display-on-hover {
      display: block !important;
    }
  }
}


// Common css
.o_content {
  .table-responsive {
    overflow: visible;
    thead th {
      position: sticky !important;
      top: 0;
      background-color: #EEE;
      z-index: 1;
    }

    tr.o_data_row {
      position: relative;

      td {
        white-space: nowrap;
        padding: 0.3rem 0.75rem;
      }

      &:hover td {
        background-color: #EEE !important;
      }

      &:focus-within td {
        background-color: #ccc !important;
      }
    }
  }
}
